.phpstan-dba-mysqli.cache linguist-generated=true
.phpstan-dba-pdo.cache linguist-generated=true
.phpunit-phpstan-dba-mysqli.cache linguist-generated=true
.phpunit-phpstan-dba-pdo.cache linguist-generated=true

# Exclude non-essential files from dist
/tests export-ignore
