includes:
    - config/stubFiles.neon
    - config/extensions.neon
    - config/rules.neon
    - phpstan-baseline.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    level: max

    paths:
        - src/

    unused_public:
        methods: true
        properties: true
        constants: true

    bootstrapFiles:
        - bootstrap.php

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#^Method staabm\\PHPStanDba\\DbSchema\\SchemaHasherMysql\:\:hashDb\(\) should return string but returns float\|int\|string\.$#'
        - '#^Property staabm\\PHPStanDba\\DbSchema\\SchemaHasherMysql\:\:\$hash \(string\|null\) does not accept float\|int\|string\.$#'
        - '#^Instanceof between mysqli_result\<array\<string, int\|string\|null\>\> and mysqli_result will always evaluate to true\.$#'

