includes:
    - stubFiles.neon
    - extensions.neon
    - rules.neon

parameters:
    featureToggles:
        skipCheckGenericClasses:
            - PDOStatement
            - mysqli_result
            - Doctrine\DBAL\Result
            - Doctrine\DBAL\Statement

        duplicateStubs: false  # workaround for: https://github.com/staabm/phpstan-dba/issues/466
