includes:
    - stubFiles.neon
    - extensions.neon
    - rules.neon

parameters:
    featureToggles:
        skipCheckGenericClasses:
            - PDOStatement
            - mysqli_result
            - Doctrine\DBAL\Result
            - Doctrine\DBAL\Statement
