includes:
    - ../../../config/stubFiles.neon
    - ../../../config/extensions.neon

parameters:
    level: max

    paths:
        - ../

    bootstrapFiles:
        - bootstrap.php

    excludePaths:
        - *Fixture/**
        - *tests/*/data/**

    ignoreErrors:
        - '#.*return type has no value type specified in iterable type iterable.#'
