name: Unit Tests MySQL

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - php-version: "8.0"
            db-image: 'mysql:8.0'
            reflector: "pdo"
            mode: "recording"

    env:
      DBA_REFLECTOR: ${{ matrix.reflector }}
      DBA_MODE: ${{ matrix.mode }}

    # https://docs.github.com/en/free-pro-team@latest/actions/guides/about-service-containers
    services:
      mysql:
        image: ${{ matrix.db-image }}
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v2
      with:
        repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
        ref: ${{ github.event.client_payload.pull_request.head.ref }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: none

    - uses: "ramsey/composer-install@v2"
      with:
        composer-options: "--prefer-dist --no-progress"

    - name: Setup Problem Matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Setup mysql
      run: |
        mysql -uroot -h127.0.0.1 -proot < tests/schema.sql

    - run: composer phpunit
